.right-sidebar .form{
    width: calc(100% - 30px);
    margin: 10px;
    padding: 5px;
}

.right-sidebar .field{
    width: 100%;
    margin-bottom: 10px;
}

.right-sidebar .input,
.right-sidebar .textarea{
    width: 100%;
}

.right-sidebar input,
.right-sidebar textarea{
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    width: 100%;
}

.right-sidebar textarea{
    resize: none;
    height: 150px;
}

.right-sidebar input:hover,
.right-sidebar input:focus,
.right-sidebar input:active,
.right-sidebar button:hover,
.right-sidebar button:focus,
.right-sidebar button:active{
    outline: none;
}

.right-sidebar .btn{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;  
    padding: 10px;
    border: 0px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}
.right-sidebar .btn-info{
    background-color: rgb(0, 174, 255);
    color: #ffffff;
}

.right-sidebar .btn-block{
    width: 100%;
}

.right-sidebar .hidden{
    display: none;
}

.right-sidebar .disabled{
    opacity: 0.7;
    pointer-events: none;
}

.right-sidebar .placeholder{
    padding: 10px;
    background-color: rgb(207, 207, 207);
    color: #000000;
    font-size: 12px;
    text-align: center;
}

.right-sidebar .loading-btn{
    position: relative;
    min-height: 50px;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.right-sidebar .loading-btn .spin{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    right: 10px;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility opacity;
    transition-duration: 0.5s;
}

.right-sidebar .loading-btn.running{
    opacity: 0.5;
    pointer-events: none;
    
}
.right-sidebar .loading-btn.running .spin{
    visibility: visible;
    opacity: 1;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        top: 2px;
        width: 10px;
        height: 15px;
    }
    to {
        top: calc(100% - 17px);
        height: 10px;
        width: 15px;
    }
}