.right-sidebar .book{
    display: flex;
    width: calc(100% - 30px);
    min-height: 100px;
    background-color: rgb(241, 241, 241);
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(0, 153, 255);
    border-radius: 5px;
    cursor: pointer;
}

.right-sidebar .right-sidebar .book .book-icon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-sidebar .book .book-icon span{
    font-size: 45px;
}

.right-sidebar .book .book-info{
    flex: 3;
}


.right-sidebar .book h3{
    margin: 2px 0;
    font-size: 17px;
}

.right-sidebar .book small{
    font-size: 12px;
}
