.navigation.header{
    height: 80px;
    background-color: rgb(0, 153, 255);
    color: #ffffff;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    align-content: center;
}

.navigation .menu{
    cursor: pointer;
    position: relative;
}

.navigation .menu .users-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color:rgb(0, 153, 255);
    background-color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
}

.navigation .menu .users-icon span{
    font-size: 2em;
    line-height: 2em;
}

.navigation .dropdown-wrapper{
    visibility: hidden;
    opacity: 0;
    transform: translate(10px,-60px);
    transition: all 0.5s;
    position: relative;
    z-index: 40;
}

.navigation .menu .dropdown-wrapper.active{
    visibility: visible;
    opacity: 1;
    transform: translate(10px,-65px);
}

.navigation .switch-info{
    position: absolute;
    background-color: #ffffff;
    color: rgb(0, 153, 255);
    top: 15px;
    left: -105px;
    padding: 5px;
    border-radius: 5px;

}

.navigation .switch-info:after{
    content: " ";
    position: absolute;
    border: 8px solid transparent;
    border-left-color: white;
    right: -16px;
    top: 6px;

}
.navigation .switch-info p{
    margin: 0;
    font-size: 15px;
    font-weight: bolder;
}

